<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.potofolio.wine.info.WineListMapper">
	<insert id="wineRef" parameterType="com.potofolio.wine.info.WineVO">
		insert into wine_info
		(wine_name ,degree,taste,sort,brand,img)
		values
		(#{wine_name},#{degree},#{taste},#{sort},#{brand},#{img})
	</insert>
	
	<select id="refList" parameterType="com.potofolio.wine.info.WineVO" resultType="com.potofolio.wine.info.WineVO">
		select * wine_info
		where i_user=#{i_user}
	</select>
</mapper> 